*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(161, 157, 131);
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-card{
    width: 90%;
    background-color: #fff;
    color: #333;
    max-width: 450px;
    text-align: center;
   
}

.bg{
    display: block;
    width: 100%;
}

.dp{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: -60px;
    /* box-shadow: 0 0 0 0px purple; */
    transition: 0.3s;
}
p{
    font-size: 23px;

}

.profile-card h1{
    font-weight: 600;
}
.profile-card  .follow-btn{
    display: inline-block;
    text-decoration: none;
    border: 1px solid #ff004f;
    color: #555;
    padding: 6px 35px;
    margin: 25px 0;
    transition: 0.3s;
}

.follow-btn:hover{
    background-color: purple;
    color: #fff;
    border-style: none;
    border-radius: 5px;
}
.row{
    display: flex;
    justify-content: space-around;
}

.row h2{
    font-weight: 500;
    font-size: 30px;
}

.view-btn{
    display: inline-block;
    background-color: purple;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 15px 0;
    margin-top: 20px;
}

.dp:hover{
    box-shadow: 0 0 0 5px purple;
   
}